<div class="card ms-3 me-3">
    <div class="card-body">
        <div class="card-tittle">
            <h3>Contact Me</h3>
        </div>
        <form class="needs-validation" novalidate>
            <div class="m-2">
                <label for="validationCustom01" class="form-label">Enter Your Mail</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="enter your mail" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    
            <div class="m-2">
                <label for="validationCustom01" class="form-label">Enter Your Message</label>
                <textarea class="form-control" id="validationCustom01" placeholder="enter your message" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="m-2">
            <button class="btn" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>